@if (currentLang() === 'de') {
<div>
    <h1>Impressum</h1>

    <pre style="white-space: pre-wrap;">
Angaben gemäß § 5 TMG:

Jan Stuhlmann
c/o IP-Management #7705
Ludwig-Erhard-Str. 18
20459 Hamburg


Kontakt: hi{{ "@" }}wc-info.org


    </pre>
  </div>
} @else {
  <div>
    <h1>Imprint</h1>

    <pre style="white-space: pre-wrap;">
Information according to § 5 TMG:

Jan Stuhlmann
c/o IP-Management #7705
Ludwig-Erhard-Str. 18
20459 Hamburg

Contact: hi{{ "@" }}wc-info.org



    </pre>
    <p>Translated from german by: <a href="https://deepl.com">Deepl</a></p>
  </div>
}
